torch==1.5.0
numpy
matplotlib
mmcv>=0.5.9
numpy
Pillow<=6.2.2
six
terminaltables
torchvision
loguru
pytest
cython
addict
yapf
pandas
ipython
albumentations
pytest
ipdb
ensemble-boxes
bbaug
timm
iterative-stratification
